html {
  margin-bottom: 1px;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 180%;
  background: url(../img/bg/body.jpg) repeat top left;
  color: #6D6864;
}

h1, h2, h3, h4, h5, h6, p, dl {
  margin: 0;
  padding: 10px 0;
}

h1 {   
  clear: both;
  font: 400 1.0em georgia, serif;
  color: #532406;
}

h1 a {
  text-decoration: none;
}

h1 a:link,
h1 a:visited,
h1 a:hover
 {
  color: #532406;
}

h2 {
  clear: both;
  font: 400 1.0em georgia, serif;
  color: #61804E;
}

.search {
  padding-left:30px;
  font-size: 90%;
  color: #000000;
  background-color: #F1FFE3;
}

.searchbutton {
  text-align: center;
  background-color: #F1FFE3;
}

.result {
  font-size: 90%;
}

.users a:link,
.users a:hover,
.users a:visited {
  font-size: 75%;
  color: #ff0000;
  background-color: #FFCCCC;
}

.tkrps a:link,
.tkrps a:hover,
.tkrps a:visited {
  font-size: 75%;
  color: #A52A2A;
  background-color: #F4A460;
}

.category {
  font-size: 80%;
}

.category a {
  text-decoration: none;
}

.category a:link,
.category a:visited {
  color: #590000;
}

.category a:hover {
  color: #590000;
  text-decoration: underline;
}

.timestamp {
  font-size: 75%;
  color: #999;
}

.description {
  font-size: 80%;
  color: #000000;
  line-height: 1.5;
}

.pager a:link,
.pager a:visited {
  color: blue;
}

.pager a:hover {
  color: #ff0000;
  text-decoration: underline;
}

.footer {
  font-size: 70%;
  color: #888888;
  line-height: 1.5;
  text-align: left;
  padding:2em 0px;
}

.ad {
	font-size: 13px;
	color: #C0C0C0;
	text-align: left;
	margin: 0 0 5px 0;
	word-break: break-all;
}