<html>
	<head>
		<title>クックパッド人気エントリー</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" type="text/css" href="css/html.css" />
		<link rel="stylesheet" type="text/css" href="css/layout.css" />
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-568420-7']);
			_gaq.push(['_trackPageview']);
			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
	</head>
	<body>
		<div id="wrapper">
			<div id="content">
				<div id="header">
					<h1>Cookpad Pop Entry</h1>
					<h2><span class="highlight">クックパッドの人気レシピ集（自動更新中／条件指定検索可）</span></h2>
					<br>
					<a href="http://b.hatena.ne.jp/entry/http%3A%2F%2Fcookpad-popentry.appspot.com%2F" class="hatena-bookmark-button" data-hatena-bookmark-title="%E3%82%AF%E3%83%83%E3%82%AF%E3%83%91%E3%83%83%E3%83%89%E4%BA%BA%E6%B0%97%E3%82%A8%E3%83%B3%E3%83%88%E3%83%AA%E3%83%BC" data-hatena-bookmark-layout="standard" title="このエントリーをはてなブックマークに追加"><img src="http://b.st-hatena.com/images/entry-button/button-only.gif" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
					<a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-lang="ja">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
					<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fcookpad-popentry.appspot.com%2F&amp;layout=button_count&amp;show_faces=false&amp;width=90&amp;action=like&amp;colorscheme=light&amp;height=20" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:90px; height:20px;" allowTransparency="true"></iframe>
				</div>
				<div id="page">
					<form method="get" action="">
						カテゴリ：
						<select name="category">
							<option value="">指定なし</option>
							{% for category1 in showparm.category1 %}
							<option value="{{ category1.0 }}"{% ifequal category1.0 inputparm.category1_id %} selected{% endifequal %}>{{ category1.1 }}</option>
							{% endfor %}
							{% for category2 in showparm.category2 %}
							<option value="{{ category2.0 }}"{% ifequal category2.0 inputparm.category2_id %} selected{% endifequal %}>{{ category2.1 }}</option>
							{% endfor %}
						</select>&nbsp;&nbsp;
						年代：
						<select name="year">
							<option value="">指定なし</option>
							{% for year in showparm.year %}
							<option value="{{ year.0 }}"{% ifequal year.0 inputparm.year %} selected{% endifequal %}>{{ year.1 }}</option>
							{% endfor %}
						</select>
						<br>
						季節：
						<select name="season">
							<option value="">指定なし</option>
							{% for season in showparm.season %}
							<option value="{{ season.0 }}"{% ifequal season.0 inputparm.season %} selected{% endifequal %}>{{ season.1 }}</option>
							{% endfor %}
						</select>&nbsp;&nbsp;
						表示順：
						<select name="sort">
							{% for sort in showparm.sort %}
							<option value="{{ sort.0 }}"{% ifequal sort.0 inputparm.sort %} selected{% endifequal %}>{{ sort.1 }}</option>
							{% endfor %}
						</select>
						<br>
						<input type="submit" value="検索">
					</form>
				{% for entry in entries %}
					<span class="result"><a href="http://{{ entry.entry_url }}" target="_blank">{{ entry.entry_title }}</a></span>
					<br>
					<span class="users"><strong><a href="http://b.hatena.ne.jp/entry/{{ entry.entry_url }}" target="_blank">{{ entry.bukuma_count }} users</a></strong></span>&nbsp;&nbsp;
					<span class="tkrps"><strong><a href="http://{{ entry.entry_url }}#tsukurepo_container" target="_blank">{{ entry.tsukurepo_count }} tkrps</a></strong></span>&nbsp;&nbsp;
					{% if entry.category1_name %}
					<span class="category">[{{ entry.category1_name }}]</span>
					{% endif %}
					{% if entry.category2_name %}
					<span class="category">({{ entry.category2_name }})</span>&nbsp;&nbsp;
					{% endif %}
					<span class="timestamp">{{ entry.hateb_added_date|date:"Y/m/d" }}</span>
					<br>
					<p class="description">
					{% if entry.photo_image %}
					<img class="left" src='tn?key={{ entry.key }}'></img>
					{% endif %}
					{{ entry.description }}
					</p>
					<p class="clear_float"></p> 
					<br>
				{% endfor %}
					<div class="footer">
						<a href="http://code.google.com/intl/ja/appengine/" target="_blank"><img src="http://code.google.com/appengine/images/appengine-noborder-120x30.gif" alt="Powered by Google App Engine" /></a>
						<br>
						このWebサービスは<a href="http://d.hatena.ne.jp/quill3/" target="_blank" >quill3</a>が趣味で作りました。
						<br>
						（<a href="http://github.com/quill3/cookpad-popentry" target="_blank" >ソースコード</a>と<a href="http://d.hatena.ne.jp/quill3/archive?word=%2A%5B%A5%AF%A5%C3%A5%AF%A5%D1%A5%C3%A5%C9%BF%CD%B5%A4%A5%A8%A5%F3%A5%C8%A5%EA%A1%BC%5D" target="_blank" >開発記録</a>を公開しています。）
						<br>
						姉妹サイトの<a href="http://2ch-hotentry.appspot.com/" target="_blank" >2chまとめホットエントリー</a>もよろしくお願いします。
					</div>
				</div>
			</div>
		</div>
	</body>
</html>