<html>
	<head>
		<title>クックパッド人気エントリー</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" type="text/css" href="css/html.css" />
		<link rel="stylesheet" type="text/css" href="css/layout.css" />
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-568420-7']);
			_gaq.push(['_trackPageview']);
			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
	</head>
	<body>
		<div id="wrapper">
			<div id="content">
				<div id="header">
					<h1>Cookpad Pop Entry</h1>
					<h2><span class="highlight">クックパッドのレシピだけの人気エントリー</span></h2>
				</div>
				<div id="page">
				{% for entry in entries %}
					<span class="result"><a href="http://{{ entry.entry_url }}" target="_blank">{{ entry.entry_title }}</a></span>
					<br>
					<span class="users"><strong><a href="http://b.hatena.ne.jp/entry/{{ entry.entry_url }}" target="_blank">{{ entry.bukuma_count }} users</a></strong></span>&nbsp;&nbsp;
					<span class="tkrps"><strong><a href="http://{{ entry.entry_url }}#tsukurepo_container" target="_blank">{{ entry.tsukurepo_count }} tkrps</a></strong></span>&nbsp;&nbsp;
					{% if entry.category1_name %}
					<span class="category">[{{ entry.category1_name }}]</span>
					{% endif %}
					{% if entry.category2_name %}
					<span class="category">({{ entry.category2_name }})</span>&nbsp;&nbsp;
					{% endif %}
					<span class="timestamp">{{ entry.hateb_added_date|date:"Y/m/d" }}</span>
					<br>
					<p class="description">
					{% if entry.photo_image %}
					<img class="left" src='tn?key={{ entry.key }}'></img>
					{% endif %}
					{{ entry.description }}
					</p>
					<p class="clear_float"></p> 
					<br>
				{% endfor %}
					<div class="footer">
						<img src="http://code.google.com/appengine/images/appengine-noborder-120x30.gif" alt="Powered by Google App Engine" />
						<br>
						This service is created by <a href="http://d.hatena.ne.jp/quill3/" target="_blank" >quill3</a>.
						<br>
						(Here is <a href="http://github.com/quill3/cookpad-popentry" target="_blank" >source code</a> & <a href="http://d.hatena.ne.jp/quill3/archive?word=%2A%5B%A5%AF%A5%C3%A5%AF%A5%D1%A5%C3%A5%C9%BF%CD%B5%A4%A5%A8%A5%F3%A5%C8%A5%EA%A1%BC%5D" target="_blank" >development log</a>.)
					</div>
				</div>
			</div>
		</div>
	</body>
</html>